body {margin: 150px; padding: 50px;}


 /* Resets the Marins for Mobile View  */


@media only screen and (max-width: 768px) {
    *, html, body, .row {
       margin-left:0 !important;
       margin-right:0 !important;
       padding-left:0 !important;
       padding-right:0 !important;
    }
  }

  .row{
    text-align: center;
    padding-top: 50px;

  }

  .video{
    padding-bottom:50px;
  }

 